[submodule "fasd"]
	path = plugins/fasd
	url = https://github.com/clvv/fasd.git
[submodule "tmuxifier"]
	path = plugins/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "plugins/git"]
	path = plugins/git
	url = https://github.com/git/git.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
